extends layout

block content
  h1= title
  p Welcome to #{title}

  hr

  #serverStatus

      .one-third.column
        h3 Server
        p Time: 
          span#serverTime.dataValue
        p Process uptime (sec): 
          span#uptime.dataValue
        p Client count: 
          span#clientCount.dataValue

      .one-third.column
        h3 Memory Usage
        p Memory resident set size: 
          span#rss.dataValue
        p V8 engine heap total: 
          span#heapTotal.dataValue
        p V8 engine heap used: 
          span#heapUsed.dataValue

      .one-third.column
        h3 Environment
        p Architecture: 
          span#arch.dataValue
        p Platform: 
          span#platform.dataValue
        p Node Version: 
          span#nodeVersion.dataValue

block scripts
  script(src="/socket.io/socket.io.js")
  
  script

    var socket = io.connect();
    socket.on('serverStatus', function (ss) {
        $('#serverTime').text(ss.timeUTC);
        $('#uptime').text(ss.uptime);
        $('#clientCount').text(ss.clientCount);
        $('#rss').text(ss.rss);
        $('#heapTotal').text(ss.heapTotal);
        $('#heapUsed').text(ss.heapUsed);
        $('#arch').text(ss.arch);
        $('#platform').text(ss.platform);
        $('#nodeVersion').text(ss.nodeVersion);
    });
