extends layout

block content
  h1= title
  p Welcome to #{title}

  hr

  .one-third.column.alpha

    h3 Server
    
    p Time: 
      span#timeUTC.dataValue &nbsp;

    p Process uptime (sec): 
      span#uptime.dataValue &nbsp;

    p Client count: 
      span#clientCount.dataValue &nbsp;

  .one-third.column
    
    h3 Memory Usage
    
    p Resident set size: 
      span#rss.dataValue &nbsp;

    p V8 engine heap total: 
      span#heapTotal.dataValue &nbsp;

    p V8 engine heap used: 
      span#heapUsed.dataValue &nbsp;

  .one-third.column.omega
    
    h3 Environment
    
    p Architecture: 
      span#arch.dataValue &nbsp;

    p Platform: 
      span#platform.dataValue &nbsp;

    p Node Version: 
      span#nodeVersion.dataValue &nbsp;

block headscripts
  script(src='javascripts/jquery-1.8.3.min.js')
  script(src="javascripts/underscore-min.js")
  script(src='javascripts/backbone-min.js')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/serverstatus-client.js')

