extends layout

block content
  h1= title
  p Welcome to #{title}

  hr

  #serverStatus

      .one-third.column

        h3 Server
        
        p Time:                     <span id='timeUTC'     class='dataValue'></span>
        p Process uptime (sec):     <span id='uptime'      class='dataValue'></span>
        p Client count:             <span id='clientCount' class='dataValue'></span>

      .one-third.column
        
        h3 Memory Usage
        
        p Memory resident set size: <span id='rss'         class='dataValue'></span>
        p V8 engine heap total:     <span id='heapTotal'   class='dataValue'></span>
        p V8 engine heap used:      <span id='heapUsed'    class='dataValue'></span>

      .one-third.column
        
        h3 Environment
        
        p Architecture:             <span id='arch'        class='dataValue'></span>
        p Platform:                 <span id='platform'    class='dataValue'></span>
        p Node Version:             <span id='nodeVersion' class='dataValue'></span>

block scripts
  script(src="javascripts/underscore-min.js")
  script(src='javascripts/backbone-min.js')
  script(src="/socket.io/socket.io.js")
  
  script

    $(document).ready(function() {
      var showDebugMessages = false;
      function debugLog(message) {
        if (showDebugMessages && console && console.log) {
          console.log(message);
        }
      }

      var ServerStatusModel = Backbone.Model.extend();
      var serverStatusModel = new ServerStatusModel();

      serverStatusModel.on("change:timeUTC", function(model, newValue) {
        debugLog("Update timeUTC");                   
        $('#timeUTC').text(_.escape(newValue));
      });

      serverStatusModel.on("change:rss", function (model, newValue) {
        debugLog("Update rss");
        $('#rss').text(_.escape(newValue));
      });

      serverStatusModel.on("change:heapTotal", function (model, newValue) {
        debugLog("Update heapTotal");
        $('#heapTotal').text(_.escape(newValue));
      });
      
      serverStatusModel.on("change:heapUsed", function (model, newValue) {
        debugLog("Update heapUsed");
        $('#heapUsed').text(_.escape(newValue));
      });
      
      serverStatusModel.on("change:uptime", function (model, newValue) {
        debugLog("Update uptime");
        $('#uptime').text(_.escape(newValue));
      });
      
      serverStatusModel.on("change:arch", function (model, newValue) {
        debugLog("Update arch");
        $('#arch').text(_.escape(newValue));
      });
      
      serverStatusModel.on("change:platform", function (model, newValue) {
        debugLog("Update platform");
        $('#platform').text(_.escape(newValue));
      });
      
      serverStatusModel.on("change:nodeVersion", function (model, newValue) {
        debugLog("Update nodeVersion");
        $('#nodeVersion').text(_.escape(newValue));
      });
      
      serverStatusModel.on("change:clientCount", function (model, newValue) {
        debugLog("Update clientCount");
        $('#clientCount').text(_.escape(newValue));
      });
      
      var socket = io.connect();
      socket.on('serverStatus', function (ss) {
        debugLog("serverStatus update received");
        serverStatusModel.set(ss);
      });
    });
