extends layout

block content
  h1= title
  p Welcome to #{title}

  hr

  #serverStatus

      .six.columns
        h3 Running Time
        p Server time: 
          span#serverTime.dataValue
        p Process uptime (sec): 
          span#uptime.dataValue

      .six.columns
        h3 Memory Usage
        p Memory resident set size: 
          span#rss.dataValue
        p V8 engine heap total: 
          span#heapTotal.dataValue
        p V8 engine heap used: 
          span#heapUsed.dataValue

      .four.columns
        h3 Environment
        p Architecture: 
          span#arch.dataValue
        p Platform: 
          span#platform.dataValue
        p Node Version: 
          span#version.dataValue

block scripts
  script(src="/socket.io/socket.io.js")
  
  script

    var socket = io.connect();
    socket.on('serverStatus', function (ss) {
        $('#serverTime').text(ss.timeUTC);
        $('#uptime').text(ss.uptime)
        $('#rss').text(ss.rss);
        $('#heapTotal').text(ss.heapTotal);
        $('#heapUsed').text(ss.heapUsed);
        $('#arch').text(ss.arch);
        $('#platform').text(ss.platform);
        $('#version').text(ss.version);
    });
